{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
  ],
  "settings": {
    "import/resolver": {
      "typescript": {},
    },
  },
  "root": true,
  "env": {
    "node": true,
  },
  "ignorePatterns": [".build/**/*", "dist/**/*"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/no-named-as-default-member": "off",
    "import/no-unresolved": "off",
    "import/no-duplicates": "error",
    "no-comma-dangle": "off",

    "import/order": [
      "error",
      {
        "groups": ["external", "internal", "parent", "sibling", "index", "unknown"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before",
          },
        ],
      },
    ],
  },
}
